	body{
	background-color:#f0f0f0;
	}
	
.fa>a{
	color:black;
	font-family:'Open Sans', sans-serif;
	font-size:12px;
}

.fa{
	margin-left:10px;
	color:grey;
}

p{
	font-family: 'Open Sans', sans-serif;
}

.col>p{
	font-family: 'Open Sans', sans-serif;
	font-size:5px;
}

h1, h2{
	font-family: 'Raleway', sans-serif;
	margin-top:10%;
}

.description{
	font-size:12px;
}
	
	#content{
		margin-bottom:15%;
	}

	.footer{
		font-size:35px;
		margin-top:20%;
	}
	
/*	font-family: 'Raleway', sans-serif;
