	body{
	background-color:#f0f0f0;
	font-family: 'Open Sans', sans-serif;
	}
	
.fa>a{
	color:black;
	font-family:'Open Sans', sans-serif;
	font-size:12px;
}

.fa{
	margin-left:10px;
	color:grey;
}

i{
	font-size:10px;
}

h1, h2{
	font-family: 'Raleway', sans-serif;
	margin-top:10%;
}
	
	.thumbnail{
	
	}
	
	#content{
		margin-bottom:15%;
	}
	
	.footer{
		font-size:35px;
		margin-top:20%;
	}
